<script src="js/compiled/turtle.js" type="text/javascript"></script>
<div>
  <canvas id="interactive" width="600" height="400"></canvas>
</div>
<form>
  <textarea id="code" rows="20" cols="60">
    (t/fwd 100)</textarea>
  <input type="button" onclick="turtle.paperjs.eval(document.getElementById('code').value)">
</form>
