<div>
  <canvas id="myCanvas" width="300" height="300"></canvas>
</div>
<script src="js/compiled/turtle.js" type="text/javascript"></script>
<script>
  turtle.paperjs.multi_tri("myCanvas")
</script>
<div>
  <canvas id="interactive" width="300" height="300"></canvas>
</div>
<form>
  <textarea id="code" rows="10" cols="30">(t/pos 100 100)
    (t/fwd 100)</textarea>
  <input type="button" onclick="turtle.paperjs.eval(document.getElementById('code').value)">
</form>
